<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Ideal Temperature</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Ideal Temperature App</h1>
      <p class="lead">Are you ready to experiece how Heroku and Lightning Platform together deliver a powerful customer experience?</p>
      <hr class="my-4">
      <p>You described your ideal office temperature as <b>{{session['temp']}}</b>. Feel free to change your mind.</p>
      <a href="https://idealtemperature.herokuapp.com/" class="btn btn-info" role="button">I changed my mind.</a>
    </div>
  </body>
</html>